@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Light.ttf), format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Bold.ttf), format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Medium.ttf), format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #2c2d35;
  --color-green: #598d66;
  --color-green-alternate: #e1ede6;
  --color-grey: #86928b;
  --color-extra-light: #f4f6f5;
  --color-light: #e1ede6;
  --border-radius: 20px;
  --border: 1px solid var(--color-green);
  --padding-block: 21px;
  --font-family: "Raleway", sans-serif;
  --container-width: 1110px;
  --container-padding-x: 15px;
  --transition-durantion: 0.2s;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-durantion);
}

a {
  color: var(--color-dark);
}

a:hover {
  color: var(--color-grey);
}

.button {
  display: inline-flex;
  align-items: center;
  border: var(--border);

  background: var(--color-extra-light);
  color: var(--color-green);
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: var(--color-extra-light);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-grey);
  line-height: 1.75;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
  padding-inline: 50px;
  background-color: var(--color-green-alternate);
}

.header-burger-button {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 275px;
  margin-top: 85px;
}

.header-burger-button span {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 5px;
  background-color: var(--color-grey);
  border: none;
  border-radius: 50px;
  transition:
    transform 0.5s,
    opacity 0.5s,
    background-color 0.5s;
}

.header-burger-button span:nth-child(1) {
  transform: translateY(10px);
}

.header-burger-button span:nth-child(3) {
  transform: translateY(20px);
}

.header.open .header-burger-button span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header-burger-button span:nth-child(2) {
  opacity: 0;
}

.header.open .header-burger-button span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  column-gap: 60px;
}

.header-menu-link {
  display: inline-flex;
  height: 90px;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-dark);
}

.hero {
  margin-bottom: 70px;
}

.hero-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 50px;
  column-gap: 30px;
}

.hero-card-bird {
  max-width: 540px;
  padding-block: 145px;
}

.hero-block-title {
  font-size: clamp(30px, 4.16vw, 60px);
  font-weight: 500;
  color: var(--color-dark);
  line-height: 110%;
  margin-bottom: 20px;
}

.hero-block-title::after {
  content: "Ink. House";
  font-size: clamp(30px, 4.16vw, 60px);
  font-weight: 500;
  padding-left: 15px;
  color: var(--color-green);
}

.hero-block-description {
  margin-bottom: 60px;
}
.hero-block-button {
  width: 225px;
  height: 65px;
  padding-inline: 60px;
  transition-duration: var(--transition-durantion);
}

.hero-block-button:hover {
  background-color: var(--color-green-alternate);
}

.catalog-country-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.country-filter-title {
  font-size: clamp(24px, 2.77vw, 40px);
  color: var(--color-dark);
  font-weight: 500;
  line-height: 110%;
  margin-right: 50px;
}

.country-filter-list {
  display: flex;
  column-gap: 32px;
}

.country-filter-tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 43px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  color: var(--color-dark);
  background-color: var(--color-green-alternate);
  cursor: pointer;
  transition-duration: var(--transition-durantion);
}

.country-filter-tab:hover {
  opacity: 0.5;
}

.country-filter-tab.is-active {
  color: var(--color-extra-light);
  background-color: var(--color-green);
  opacity: 1;
}

.catalog-cards-list_england {
  display: none;

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}

.catalog-cards-list_germany {
  display: none;

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}

.catalog-cards-list_french {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}

.catalog-cards-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  row-gap: 20px;
  background-color: var(--color-light);
}

.card-creator-name {
  font-size: 18px;
  color: var(--color-grey);
}

.card-title {
  color: var(--color-dark);
  font-size: clamp(24px, 2.08vw, 30px);
  font-weight: 500;
  margin-top: 10px;
}

.card-description {
  font-size: 18px;
  color: var(--color-dark);
  margin-top: 8px;
}

.card-sales {
  color: var(--color-green);
  font-size: 24px;
  margin-top: 30px;
}

.card-button {
  width: 310px;
  height: 65px;
  padding: 20px 105px;
  transition-duration: var(--transition-durantion);
  white-space: nowrap;
}

.card-button:hover {
  background-color: var(--color-green);
  color: var(--color-extra-light);
}

.promo {
  background: url(images/promo-background.png) center/cover no-repeat;
}

.promo-content {
  padding-block: 70px;
}

.promo-icon-title {
  display: flex;
  align-items: center;

  column-gap: 20px;
}

.promo-title {
  font-size: clamp(24px, 2.77vw, 40px);
  max-width: 420px;
  color: var(--color-extra-light);
}

.promo-description {
  max-width: 540px;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-extra-light);
  margin-top: 20px;
}

.promo-button {
  width: 255px;
  height: 65px;
  margin-top: 60px;
  padding: 20px 60px;
  color: var(--color-dark);
  background-color: #eedb6d;
  transition-duration: var(--transition-durantion);
}

.promo-button:hover {
  background-color: #d9b949;
}

.about-us {
  background-color: white;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 70px;
  column-gap: 30px;
}

.about-us-title {
  font-size: clamp(24px, 2.77vw, 40px);
  max-width: 280px;
  font-weight: 500;
  color: var(--color-dark);
  white-space: nowrap;
}

.about-us-description {
  max-width: 635px;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-dark);
  margin-top: 20px;
}

.about-us-icons-list {
  display: flex;
  column-gap: 30px;
  margin-top: 20px;
}

.about-us-icon {
  width: 80px;
  height: 80px;
}

.footer-main {
  display: flex;
  justify-content: space-around;
  padding-block: 23px;
}

.footer-logo {
  margin-bottom: 35px;
}
.footer-contacts-link {
  margin-bottom: 8px;
}

.footer-columns {
  display: flex;
  column-gap: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.column p {
  margin: 0;
}

.column h3 {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer-socials-list {
  display: flex;
  column-gap: 30px;
}

@media (max-width: 1120px) {
  .header {
    flex-wrap: wrap;
  }
  .header-menu-list {
    column-gap: 60px;
  }
  .header-logo {
    margin: auto;
  }

  .hero-card-bird {
    max-width: 330px;
    padding-block: 35px;
  }

  .hero-img {
    width: 330px;
    height: 380px;
  }

  .hero-items {
    column-gap: 15px;
  }

  .hero-block-description {
    margin-bottom: 40px;
  }
  .catalog-cards-list_french,
  .catalog-cards-list_germany,
  .catalog-cards-list_england {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-cards-img {
    width: 100%;
  }
  .card-button {
    width: 100%;
    display: inline-flex;
    align-self: center;
    justify-content: center;
  }

  .about-us-content {
    flex-direction: column;
    row-gap: 30px;
  }
  .about-us-image {
    width: 510px;
    height: 505px;
  }

  .footer-main {
    flex-direction: column;
    gap: 30px;
  }

  .footer-contacts {
    display: flex;
    justify-content: space-between;
  }

  .footer-columns {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-socials {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .header {
    padding-inline: 39px;
  }

  .hero {
    margin-block: 50px;
  }

  .hero-img {
    width: 195px;
    height: 240px;
  }
  .hero-card-bird {
    max-width: 285px;
    padding-block: 0;
  }
  .catalog-country-filter {
    flex-wrap: wrap;
  }
  .country-filter-tab {
    margin-top: 20px;
    width: 125px;
    height: 40px;
  }
  .catalog-cards-list_french,
  .catalog-cards-list_germany,
  .catalog-cards-list_england {
    grid-template-columns: repeat(1, 1fr);
  }
  .catalog-cards-img {
    width: 100%;
  }

  .about-us-image {
    width: 375px;
    height: 370px;
  }
  .about-us-description {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .header {
    padding-top: 18px;
  }
  .header-burger-button {
    display: block;
    margin-block: 15px;
  }

  .header-menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      opacity 0.3s ease,
      visibility 0.3s ease;
  }

  .header.open .header-menu-list {
    max-height: 300px;
    opacity: 1;
  }
  .header-menu-item {
    margin-right: 100%;
  }

  .hero {
    margin-block: 60px;
  }
  .hero-card-bird {
    max-width: 290px;
  }
  .hero-img {
    display: none;
  }

  .country-filter-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
  }
  .country-filter-tab {
    margin-top: 20px;
    font-size: 18px;
  }

  .promo-button {
    width: 100%;
    display: inline-flex;
    align-self: center;
    justify-content: center;
  }

  .footer-columns {
    flex-direction: column;
    gap: 20px;
  }
  .footer-contacts {
    flex-direction: column;
  }
  .footer-socials-list {
    justify-content: center;
  }
  .column p {
    font-size: 16px;
  }
  .footer-copyright br {
    display: none;
  }
}

@media (max-width: 360px) {
  .catalog-cards-img {
    margin: 0 auto;
    width: 50%;
  }
  .card-button {
    margin: 0 auto;
    width: 50%;
  }
  .catalog-cards-item {
    display: flex;
    align-items: center;
    width: 250px;
  }
}
